/*******************Whole page styles************************/
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #f6f5f1;
  font-family: "Cairo", sans-serif;
  text-align: center;

  display: flex;
  height: 100%;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*******************General************************/

.padding-5-lr {
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  width: auto;
  /* max-width: 680px; */
  /* padding: 0 15px; */
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 63px;
  color: #edf6e5;
  margin: auto;
}

/*******************Navbar************************/

.navbar-n-footer-color {
  background-color: #b5eaea;
}

.navbar {
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 250%;
}
@media screen and (max-width: 500px) {
  .navbar-brand {
    font-size: 2rem;
  }
}

.navbar-container {
  z-index: 1;
  position: absolute;
}

/*******************Footer************************/

.footer {
  text-align: center;
  padding: 2%;
  width: 100%;
  /* position: absolute; */
  /* left: 0;
  bottom: 0;
  right: 0; */
}

.footer-icons {
  font-size: 2rem;
  color: black;
  margin: 1%;
}

.icons-container {
  text-align: center;
}

/*******************Page Content************************/
.page-content {
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  flex: 1;
  /* min-height: 80vh; */
}
